<h1>View Tweets</h1>

<form action="/" method="get" accept-charset="utf-8">
  <label for="tweet">Last Tweet ID</label><input type="text" name="tweet" value="" id="tweet" />

  <p><input type="submit" value="Fetch &rarr;" /></p>
</form>
