<p>This is a little app to let you view a twitter conversation in one place and permalink it for the future.</p>

<p>It intentionally doesn't do much. Give it the last tweet id in a conversation and it walks up the tree figuring out the conversation, then saves that for the future.</p>

<p>Just shove the tweet id of the last tweet on the end of this url. Eg: <a href="/19766711653765120">/19766711653765120</a></p>
