<script type="application/javascript">
  // Check if there's a tweet id in the hash, probably like "#!/caius/status/1234566" from new twitter
  var possible_id = location.hash.match(/\/\d+$/)[0];
  if (possible_id) {
    location = possible_id;
  }
</script>

<p>This is a little app to let you view a twitter conversation in one place and permalink it for the future.</p>

<p>It intentionally doesn't do much. Give it the last tweet id in a conversation and it walks up the tree figuring out the conversation, then saves that for the future. For more information, read the <a href="http://caiustheory.com/tweetsavr">introduction blog post</a>.</p>

<p>Just shove the tweet id of the last tweet on the end of this url. Eg: <a href="http://tweetsavr.com/19766711653765120">http://tweetsavr.com/19766711653765120</a></p>

<p>If you want multiple tweets to be included, perhaps because a story was split across multiple tweets, just append all the ids comma-delimited. Eg: <a href="http://tweetsavr.com/143724972739805184,143725156718747648,143725408695746560,143725609389006848,143725751928242176,143725879976132608,143726035433816064,143726155931979776,143726371405967360,143726560728449024">http://tweetsavr.com/143724972739805184,143725156718747648,143725408695746560,143725609389006848,
143725751928242176,143725879976132608,143726035433816064,143726155931979776,143726371405967360,
143726560728449024</a></p>
