<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @title %> - View Tweet Conversations</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/960.css" /> 
    <link rel="stylesheet" type="text/css" href="stylesheets/app.css" />
  </head>

  <body>
    <header>
      <h1>
        <%= @header %>
      </h1>
    </header>

    <div class="container_12">
      <section id="main" class="grid_8 push_2">

        <%= yield %>

      </section><!-- .grid_8.push_2 -->

    </div><!-- .container_12 -->

    <footer>
      <p>Built one evening by <a href="http://caius.name/">Caius Durling</a> to do just the bare minimum.</p>
      <!-- And many thanks to linkcat.ch for the initial design -->
    </footer>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3041721-7']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
