body {
  background: url("/images/body-bg.png") repeat #d3d6d9;
  color: #626262;
  font-family: "Helvetica Neue", Helvetica, "Arial Geneva", sans-serif;
  font-size: 13px;
}

a {
  color: #70a3e0;
  font-weight: bold;
  text-decoration: none;
}

h1,
h2 {
  color: #636c75;
  -webkit-font-smoothing: antialiased;
  padding: 0 0 5px 0;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

header {
  margin: 30px 0 0 0;
  text-align: center;
}

  header h1 {
    font-size: 1.8em;
    font-weight: normal;
    margin: 0 0 3px 0;
  }

#main {
  margin-top: 2em;
}

.tweet {
  list-style-type: none;
  font-family: "Helvetica Neue", Helvetica, "Arial Geneva", sans-serif;
  font-size: 1.5em;
  background: white;
  padding-top: 1em;
  padding-bottom: 1em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 2em;
  box-shadow: 5px 5px 5px #aaa;
}

  .tweet .author {
    margin-bottom: 1em;
  }

    .tweet .author img {
      height: 48px;
      width: 48px;
    }

    .tweet .author .handle {
      font-size: 1.2em;
    }

    .tweet .author .name {
      color: #aaa;
      font-size: 0.8em;
    }

  .tweet .body {
    margin-bottom: 1em;
    padding-left: 0.5em;
    line-height: 1.2em;
  }

    .tweet .body a {
      font-weight: normal;
    }

    .tweet .body p {
      margin-top: 1.2em;
    }

    .tweet .body p:first-child {
      margin-top: 0;
    }

    .tweet .body em.hashtag {
      color: #999;
      font-style: normal;
    }

  .tweet .meta {
    font-size: 0.75em;
    padding-left: 0.5em;
  }

    .tweet .meta,
    .tweet .meta a {
      color: #aaa;
    }

    .tweet .meta a:hover,
    .tweet .meta a:focus {
      color: #70a3e0;
    }

    .tweet .meta .source a {
      font-weight: normal;
    }

footer {
  margin-top: 2em;
  padding-bottom: 1em;
  text-align: center;
}
